//fonts
$tittle-font: 'Yantramanav', sans-serif;
$p-font: 'Antic', sans-serif;

//size
$tittle-size: 30px;
$p-size: 15px;

$gray-color: #1B1B1C;
$rose-color: #C55FA4;
$house-color: -webkit-linear-gradient(top, #7b24c5 0%,#32ade2 95%,#32ade2 95%); /* Chrome10-25,Safari5.1-6 */
$chill-color: -webkit-linear-gradient(top, #d2103d 0%,#7b24c1 100%); /* Chrome10-25,Safari5.1-6 */
// $metal-color:
// $latin-color:
// $hiphop-color: