#containerWave{  
    position:relative;
    width: 100%;
}  

#containerWave span{
    bottom:0px;
    height: 5px;
    text-align: center;
    width:5px;  
      
    
    position:absolute;  
    background: $rose-color;  
    -webkit-animation: bodong 0.5s infinite  ease;  
}  

#containerWave span:first-child{  
    left:40%;  
    -webkit-animation-delay:.3s;  
}  

#containerWave span:nth-child(2){  
    left:41%;  
    -webkit-animation-delay:.4s;  

}  
#containerWave span:nth-child(3){  
    left:42%;  
    -webkit-animation-delay:.6s;  
}  
#containerWave span:nth-child(4){  
    left:43%;  
    -webkit-animation-delay:.8s;  
}  
#containerWave span:nth-child(5){  
    left:44%;  
    -webkit-animation-delay:.10s;  
}
#containerWave span:nth-child(6){  
    left:45%;  
    -webkit-animation-delay:.12s;  
}
#containerWave span:nth-child(7){  
    left:55%;  
    -webkit-animation-delay:.3s;  
} 
#containerWave span:nth-child(8){  
    left:56%;  
    -webkit-animation-delay:.4s;  
}
#containerWave span:nth-child(9){  
    left:57%;  
    -webkit-animation-delay:.6s;  
}
#containerWave span:nth-child(10){  
    left:58%;  
    -webkit-animation-delay:.8s;  
}
#containerWave span:nth-child(11){  
    left:59%;  
    -webkit-animation-delay:.10s;  
} 
#containerWave span:nth-child(12){  
    left:60%;  
    -webkit-animation-delay:.12s;  
}

@-webkit-keyframes bodong{  
    0%{height:5px; background:bule;}  
    30%{height:15px; background:bule;}  
    60%{height:20px; background:bule;}  
    80%{height:15px; background:bule;}  
    100%{height:5px; background:bule;}  
}