.previousContainer{
    display: inline-block;
    height: 61px;
    width: 10%;
}

.nextContainer{
    display: inline-block;
    height: 61px;
    width: 10%;
}

.main-icons {
    text-align: center;
}

.mainPlay {
    height: 61px;
    display: inline-block;
    text-align: center;
    width: 10%;
}
.tools {
    display: flex;
    color: white;
    padding: 20px 0 20px 0;
    width: 80%;
}